
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1513733582371-0adb4dac50f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-color: #586259;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color:black;
    color: lightgreen;
    height: 10vh;
}

main { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#main-div {
    background-color: green;
    border: 2px solid black;
    width: 47vw;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

#buttons {
    display: flex;
}

#buttons button { 
    margin: 1vw;
    padding: 1vw;
    border-radius: 5px;
}

/*Locate Treasure*/ 

#main-div2 {
    background-color: green;
    background-image: url(https://i.imgur.com/3W3pzdA.png);
    border: 2px solid black;
    width: 68vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    position: absolute;
    width: 5vw;
    height: 4vh;
    background-image: url(https://i.imgur.com/JqLoNGd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid;
    border-color: ""; 
    border-radius: 3px;
}

.snake-warning {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60vh;
    left: 30vw;
}

.snake-warning2 {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    left: 60vw;
}

.snake-warning3 {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 74vh;
    left: 60vw;
}

.snake {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 65vh;
    left: 33vw;
}

.snake2 {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 45vh;
    left: 63vw;
}

.snake3 {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 79vh;
    left: 63vw;
}

#treasure {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 83vh;
    left: 78vw;
}


.alert {
    width: 1vw;
}

#start-over {
    border: 2px solid black;
    background-color: green;
    width: 25vw;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-over-btn {
    border: 2px solid black; 
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

nav div {
    color: white;
    position: relative; 
    top: 4vh;
    background-color: black;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: green;
    z-index: 1;
    border-radius: 5px;
    border: 2px solid black;
    width: 50vw;
    height: 30vh;
    padding: 2vh;
}
