
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1513733582371-0adb4dac50f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-color: #586259;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: lightgreen;
    position: relative;
    top: 3vh;
    height: 10vh;
    width: 90vw;
    border: 5px solid greenyellow; 
    border-radius: 10px; 
}

main { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

#main-div {
    border: 5px solid greenyellow;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 47vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2vh;
    flex-direction: column;
    padding: 2vw;
}

#buttons {
    display: flex;
}

button {
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 5px;
}

.tasks {
    font-weight: bold;
    color: greenyellow;
}

button:hover {
    cursor: pointer;
    color: yellow;
    border: 2px solid yellow;
}

a {
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: yellow;
    border: 2px solid yellow;
}

#start-over:hover{
    color: yellow;
    border: 5px solid yellow;
}

#accept {
    margin: 10px;
}

#timer {
    color: yellow;
    border: 1px solid yellow;
    margin: 3px;
    padding: 2px;
}

#map img:hover {
    cursor: zoom-in;
}

/*Locate Treasure*/ 

#main-div2 {
    background-color: black;
    color: white;
    background-image: url(https://i.imgur.com/3W3pzdA.png);
    border: 5px solid greenyellow;
    width: 68vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    position: absolute;
    width: 5vw;
    height: 8vh;
    background-image: url(https://i.imgur.com/wZV2IfH.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-width: 2px;
    border-style: solid; 
    border-radius: 3px;
}

.snake-warning {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60vh;
    left: 30vw;
}

.snake-warning2 {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    left: 60vw;
}

.snake-warning3 {
    width: 10vw; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 74vh;
    left: 60vw;
}

.snake {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 65vh;
    left: 33vw;
}

.snake2 {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 45vh;
    left: 63vw;
}

.snake3 {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 79vh;
    left: 63vw;
}

#treasure {
    width: 4vw;
    height: 5vh; 
    position: absolute;
    top: 83vh;
    left: 68vw;
}


.alert {
    width: 1vw;
    z-index: 1;
}

#start-over {
    border: 5px solid greenyellow;
    background-color: black;
    color: white;
    width: 25vw;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#try-again {
    border: 5px solid greenyellow;
    background-color: black;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#try-again img {
    width: 8vw;
}


nav {
    display: flex;
    justify-content: center;
}

nav div {
    border: 2px solid greenyellow;
    color: white;
    position: relative; 
    top: 5vh;
    background-color: black;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    color: white;
    z-index: 1;
    border-radius: 5px;
    border: 2px solid greenyellow;
    width: 50vw;
    height: 30vh;
    padding: 2vh;
}

#foundTres img {
    width: 10vw;
}

#foundTres {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border-radius: 5px;
    border: 2px solid greenyellow;
    z-index: 1;
}

/*Battle*/

body {
    overflow: hidden;
}

#main-div3 {
    border: 4px solid greenyellow;
    border-radius: 15px;
    background-color: green;
    background-image: url(https://i.imgur.com/3W3pzdA.png);
    width: 68vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100vw;
    overflow: hidden;
}

#indi {
    border-radius: 10px;
    background-image: url('https://i.imgur.com/ZxeL9aj.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10vw;
    height: 35vh;
    position: relative;
    top: 15vh;
    left: -10vw;
}

#bad-guy {
    border-radius: 10px;
    background-image: url('https://i.imgur.com/9TN2AbB.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 15vw;
    height: 34vh;
    position: relative;
    top: 15vh;
    left: 15vw;
    transform: none;
}

#defend {
    margin: 20px 0 0 0; 
}

#you-win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 50vw;
    border: 5px solid greenyellow;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 30vw;
    height: 30vh;
    z-index: 1;
    padding: 1vw;
}

#you-lose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25vh;
    left: 50vw;
    border: 5px solid greenyellow;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 30vw;
    height: 30vh;
    z-index: 1;
}


/*Find Father*/
#main-div4 {
    border: 4px solid greenyellow;
    border-radius: 15px;
    background-color: green;
    background-image: url(https://i.imgur.com/3W3pzdA.png);
    width: 68vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}